[submodule "symlink/config/nvim.symlink"]
	path = symlink/config/nvim.symlink
	url = https://github.com/wilberquito/nvchad.lua/
[submodule "symlink/home/.tmux.symlink/plugins/tpm"]
	path = symlink/home/.tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
